h1 {
    margin-left:150px;
    margin-right: 250px;
    border-bottom: 1px solid rgb(220, 222, 224); 
    padding-bottom: 5px; 
   }

img {
    width: 270px;
    height: 350px;
    margin-left:150px;
    
}

h2 {
    border-bottom: 1px solid rgb(220, 222, 224); 
    margin-left:150px;
    margin-right: 250px; 
    padding-bottom: 5px; 
}

p {
    margin-left: 150px;
    margin-right: 250px;
    padding-bottom: 20px;
}

ul {
    margin-left:150px;
    margin-right: 150px;
    padding-bottom: 20px;
}

li {
    padding-bottom: 10px;
}

